@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

strong {
  font-weight: 700; }

i {
  font-style: italic; }

#head {
  background-color: #336699;
  float: left;
  color: white;
  width: 100%;
  margin-top: 0px;
  font-size: 300%;
  font-family: Verdana, Geneva, sans-serif; }

#nav {
  margin: 0 auto;
  width: 100%;
  color: white;
  background-color: #666666;
  text-align: center;
  font-size: 18px; }
  #nav a:link {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff; }
  #nav a:hover {
    text-decoration: underline; }

#about {
  font-family: "Open Sans";
  padding-left: 25px;
  float: left;
  width: 45%;
  font-size: 16px;
  color: #000000; }
  #about h2 {
    text-indent: 10px;
    font-size: 200%; }

#sites {
  font-family: "Open Sans";
  float: right;
  width: 45%; }
  #sites ul {
    list-style-type: none; }
  #sites h2 {
    font-size: 200%; }
  #sites a:link {
    text-decoration: none;
    font-weight: bold;
    color: #000000; }
  #sites a:hover {
    text-decoration: underline; }

#social {
  font-family: "Open Sans";
  font-size: 3em;
  position: fixed;
  bottom: 0;
  width: 100%; }

.circle {
  border-radius: 50%;
  margin: 0.15em; }

.fa-twitter {
  background: #4099FF;
  color: #FFFFFF;
  padding: 0.05em 0.07em; }

.fa-linkedin {
  background: #007bb6;
  color: #ffffff;
  padding: 0.05em 0.07em; }

.fa-github {
  background: #ffffff;
  color: #000000;
  padding: 0.05em 0.07em; }

.fa-pencil {
  background: red;
  color: #ffffff;
  padding: 0.05em 0.07em; }

@media screen and (max-width: 650px) {
  #head {
    font-size: 200%; }

  #sites {
    float: right;
    width: 45%;
    font-size: 16px; }
    #sites ul {
      list-style-type: none; }
    #sites h2 {
      font-size: 150%; }
    #sites a:link {
      text-decoration: none;
      font-weight: bold;
      color: #000000; }
    #sites a:hover {
      text-decoration: underline; }

  #social {
    font-size: 2.5em;
    position: fixed;
    bottom: 0;
    width: 100%; }

  #about {
    padding-left: 25px;
    font-family: "Open Sans", sans-serif;
    float: left;
    width: 45%;
    font-size: 16px; }
    #about h2 {
      text-indent: 10px;
      font-size: 150%; } }
@media screen and (max-width: 515px) {
  #head {
    font-size: 200%; }

  #about {
    padding-left: 25px;
    font-family: "Open Sans";
    float: none;
    width: 90%;
    font-size: 16px; }
    #about h2 {
      font-size: 150%; }

  #sites {
    padding-left: 25px;
    float: none;
    width: 90%;
    padding-top: 15px;
    font-size: 16px; }
    #sites ul {
      list-style-type: none; }
    #sites h2 {
      font-size: 150%; }
    #sites a:link {
      text-decoration: none;
      font-weight: bold;
      color: #000000; }
    #sites a:hover {
      text-decoration: underline; }

  #social {
    font-size: 2em;
    position: fixed;
    bottom: 0;
    width: 100%; } }
